# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\SWE\MyNotes\操作系统\操作系统2021实验三\操作系统2021实验三\ORANGE’S：一个操作系统的实现\Orange's一个操作系统的实现(随书光盘)\chapter7\a\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
